In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv(r'/content/drive/MyDrive/Dataset/kidney_disease.csv')
#df

In [ ]:
df.shape[0]

400

In [ ]:
ckd = df.loc[df['classification'] == 'ckd']
#ckd

In [ ]:
not_ckd = df.loc[df['classification'] == 'notckd']
#not_ckd

not_ckd.reset_index()

,index,id,age,bp,sg,al,su,rbc,pc,pcc,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,250,250,40.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,...,48,10400,4.5,no,no,no,good,no,no,notckd
1,251,251,23.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,...,52,9800,5.0,no,no,no,good,no,no,notckd
2,252,252,45.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,...,46,9100,4.7,no,no,no,good,no,no,notckd
3,253,253,57.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,...,42,6200,6.2,no,no,no,good,no,no,notckd
4,254,254,51.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,...,49,8300,5.2,no,no,no,good,no,no,notckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
146,396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
147,397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
148,398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
149,399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

Warning: Total number of columns (27) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
rbc_normal = df[df['rbc'] == 'normal']
rbc_abnormal = df[df['rbc'] != 'normal']
rbc_abnormal

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
5,5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,36,NaN,NaN,no,no,no,good,no,no,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,309,51.0,60.0,1.020,0.0,0.0,NaN,NaN,notpresent,notpresent,...,40,8100,5.9,no,no,no,good,no,no,notckd
322,322,70.0,60.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,43,4500,4.9,no,no,no,good,no,no,notckd
349,349,35.0,70.0,1.025,0.0,0.0,NaN,NaN,notpresent,notpresent,...,52,9400,6.1,no,no,no,good,no,no,notckd
350,350,65.0,70.0,1.025,0.0,0.0,NaN,NaN,notpresent,notpresent,...,43,9600,4.5,no,no,no,good,no,no,notckd
381,381,71.0,70.0,1.025,0.0,0.0,NaN,NaN,notpresent,notpresent,...,40,5800,5.9,no,no,no,good,no,no,notckd

In [ ]:
normal_count = df['rbc'].value_counts()['normal']
abnormal_count = df['rbc'].value_counts()['abnormal']

print("Number of normal rbc:", normal_count)
print("Number of abnormal rbc:", abnormal_count)

Number of normal rbc: 201
Number of abnormal rbc: 47

In [ ]:
empty_count = df['rbc'].isnull().sum()

print("Number of empty rbc values:", empty_count)

Number of empty rbc values: 152

In [ ]:
total_rbc = normal_count+abnormal_count+empty_count
print('rbc normal % : ', normal_count*100/total_rbc)
print('rbc abnormal % : ', abnormal_count*100/total_rbc)
print('rbc empty % : ', empty_count*100/total_rbc)

rbc normal % :  50.25
rbc abnormal % :  11.75
rbc empty % :  38.0

In [ ]:
normal_count_not_ckd = not_ckd['rbc'].value_counts()['normal']
#abnormal_count_not_ckd = not_ckd['rbc'].value_counts()['abnormal']
empty_count_not_ckd = not_ckd['rbc'].isnull().sum()

print("Not CKD")
print("Number of normal rbc:", normal_count_not_ckd)
#print("Number of abnormal rbc:", abnormal_count_not_ckd)
print("Number of empty rbc values:", empty_count_not_ckd)

Not CKD
Number of normal rbc: 141
Number of empty rbc values: 9

In [ ]:
normal_count_ckd = ckd['rbc'].value_counts()['normal']
abnormal_count_ckd = ckd['rbc'].value_counts()['abnormal']
empty_count_ckd = ckd['rbc'].isnull().sum()

print("CKD")
print("Number of normal rbc:", normal_count_ckd)
print("Number of abnormal rbc:", abnormal_count_ckd)
print("Number of empty rbc values:", empty_count_ckd)

CKD
Number of normal rbc: 59
Number of abnormal rbc: 47
Number of empty rbc values: 142

In [ ]:
total_rbc_ckd = normal_count_ckd+abnormal_count_ckd+empty_count_ckd
print('rbc normal % : ', normal_count_ckd*100/total_rbc_ckd)
print('rbc abnormal % : ', abnormal_count_ckd*100/total_rbc_ckd)
print('rbc empty % : ', empty_count_ckd*100/total_rbc_ckd)

rbc normal % :  23.79032258064516
rbc abnormal % :  18.951612903225808
rbc empty % :  57.25806451612903

In [ ]:
not_ckd_dataframe = pd.DataFrame(not_ckd)
not_ckd_dataframe['rbc'].fillna('normal', inplace=True)
#not_ckd rbc has either normal or null. We are setting not_ckd rbc(s) as normal.

print(not_ckd_dataframe['rbc'].isnull().sum())
print(not_ckd_dataframe['rbc'].value_counts()['normal'])
print(not_ckd_dataframe.shape[0])

0
150
150

In [ ]:
# from now ckd part's empty values are going to be replace 30% abnormal and 70% as normal
# create a new dataframe for setting up the empty cells

In [ ]:
import numpy as np

In [ ]:
#new dataframe
ckd_dataframe = pd.DataFrame(ckd)

empty_rows = ckd_dataframe['rbc'].isnull()
empty_indices = empty_rows[empty_rows].index

empty_indices

Int64Index([  0,   1,   5,   6,  10,  12,  13,  15,  16,  17,
            ...
            231, 235, 236, 237, 238, 240, 241, 243, 244, 245],
           dtype='int64', length=142)

In [ ]:
num_empty = len(empty_indices)
num_abnormal = int(0.3 * num_empty)
num_normal = int(0.7 * num_empty)
print(num_empty, num_abnormal, num_normal)

142 42 99

In [ ]:
abnormal_indices = np.random.choice(empty_indices, size=num_abnormal, replace=False)
print('abnormal indices: ', abnormal_indices)
normal_indices = np.random.choice(empty_indices, size=num_normal, replace=False)
print('normal indices: ', normal_indices)

abnormal indices:  [120 142 174  69  17  45 118  47 170  46  78  77 228  64 192  70 182   6
 172  72 179 101  50 237  86  59  18  89 121  26  97 243 175 102  99  41
 183 151   5  51 217 197]
normal indices:  [101  85  68 165 125 228 224  95 179  32 243  52  46 238  31 138 220  18
 102  42  51 139  15  65  13 217 182  60 237 168 241  30 106 174 118 208
  98 183 151   0 194  26  96   5 214 235 202 218 169 207 188  99  78 117
  69 163  70 206  41   1 123  97 113  62 129 156  81  28 164 162 197  80
 140 172 245 136 152  10 184 240  59  53  82  23 201 148 124  88 203 175
  45 209  47 199  57  12 111  25 219]

In [ ]:
# saving the values to empty cells of the dataframe
ckd_dataframe.loc[abnormal_indices, 'rbc'] = 'abnormal'
ckd_dataframe.loc[normal_indices, 'rbc'] = 'normal'

In [ ]:
print(ckd_dataframe['rbc'].isnull().sum())
ckd_dataframe['rbc'].fillna('normal', inplace=True)
print(ckd_dataframe['rbc'].isnull().sum())

0
0

In [ ]:
# merging ckd and not_ckd new dataframes
merged_df = pd.concat([ckd_dataframe, not_ckd_dataframe], ignore_index=True)
# check for rbc empty cells
merged_df['rbc'].isnull().sum()

0

In [ ]:
merged_df.to_csv('merged_data_rbc_column_preprocessed.csv', index=False)

In [ ]:
merged_df.to_csv('merged_data_rbc_column_preprocessed_with_index.csv', index=True)