In [63]:
import pandas as pd

In [64]:
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv(r'/content/drive/MyDrive/Dataset/merged_data_rbc_column_preprocessed_with_index.csv')
#df

ckd = df.loc[df['classification'] == 'ckd']
#ckd

not_ckd = df.loc[df['classification'] == 'notckd']
#not_ckd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [65]:
ckd.iloc[ -10: -1]
df.shape[1]

27

In [66]:
ckd['age'].isnull().sum()

8

In [67]:
age_mean = ckd['age'].mean()
ckd_dataframe = pd.DataFrame(ckd)
ckd_dataframe['age'].fillna(age_mean, inplace=True)

In [68]:
ckd_dataframe['age'].isnull().sum()

0

In [69]:
age_mean = not_ckd['age'].mean()
not_ckd_dataframe = pd.DataFrame(not_ckd)
not_ckd_dataframe['age'].fillna(age_mean, inplace=True)

In [70]:
merge_df = pd.concat([ckd_dataframe, not_ckd_dataframe], ignore_index=True)

In [71]:
merge_df['age'].isnull().sum()

0

In [72]:
merge_df.to_csv('merged_data_age_column_preprocessed_with_index.csv', index=True)

BP preprocessing starts from here.

In [73]:
ckd['bp'].shape

(248,)

In [74]:
print('ckd bp mean:',ckd['bp'].mean())
print('not_ckd bp mean:',not_ckd['bp'].mean())

ckd bp mean: 79.70588235294117
not_ckd bp mean: 71.35135135135135

In [75]:
bp_mean_ckd= ckd['bp'].mean()
print(bp_mean_ckd)
above_mean = ckd[ckd['bp'] > bp_mean_ckd]
below_mean = ckd[ckd['bp'] < bp_mean_ckd]
print(below_mean.shape[0])
print(above_mean.shape[0])

79.70588235294117
104
134

In [76]:
above_mean

,Unnamed: 0,id,age,bp,sg,al,su,rbc,pc,pcc,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,0,48.0,80.0,1.020,1.0,0.0,normal,normal,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
2,2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
4,4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,5,5,60.0,90.0,1.015,3.0,0.0,normal,NaN,notpresent,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
8,8,8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,...,33,9600,4.0,yes,yes,no,good,no,yes,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,242,244,64.0,90.0,1.015,3.0,2.0,normal,abnormal,present,...,40,9800,4.6,yes,yes,no,good,no,yes,ckd
243,243,245,48.0,100.0,NaN,NaN,NaN,normal,NaN,notpresent,...,19,7200,2.6,yes,no,yes,poor,no,no,ckd
244,244,246,48.0,110.0,1.015,3.0,0.0,abnormal,normal,present,...,26,5000,2.5,yes,no,yes,good,no,yes,ckd
245,245,247,54.0,90.0,1.025,1.0,0.0,normal,abnormal,notpresent,...,NaN,NaN,NaN,no,no,no,poor,yes,yes,ckd
247,247,249,56.0,90.0,1.010,4.0,1.0,normal,abnormal,present,...,9,5400,2.1,yes,yes,no,poor,yes,yes,ckd

In [77]:
ckd['bp'].std()

15.244755861793223

In [78]:
above_mean = ckd[ckd['bp'] > bp_mean_ckd]
print(bp_mean_ckd)
x = above_mean['bp']-bp_mean_ckd
print(x.mean())
y = (below_mean['bp']-bp_mean_ckd)*-1
print(y.mean())
below_mean['bp'].iloc[ :20]

79.70588235294117
10.14486391571554
13.071266968325789

1     50.0
3     70.0
6     70.0
10    60.0
11    70.0
12    70.0
13    70.0
16    70.0
19    60.0
23    70.0
25    60.0
27    70.0
28    70.0
29    70.0
30    70.0
34    70.0
36    70.0
40    70.0
45    70.0
47    70.0
Name: bp, dtype: float64

In [79]:
bp_mean_not_ckd = not_ckd['bp'].mean()
above_mean = not_ckd[not_ckd['bp'] > bp_mean_not_ckd]
below_mean = not_ckd[not_ckd['bp'] < bp_mean_not_ckd]
print(below_mean.shape[0])
print(above_mean.shape[0])

83
65

In [80]:
not_ckd['bp'].std()

8.5434980368491

In [81]:
above_mean = ckd[ckd['bp'] > bp_mean_ckd]
print(bp_mean_ckd)
x = above_mean['bp']-bp_mean_ckd
print(x.mean())
y = (below_mean['bp']-bp_mean_ckd)*-1
print(y.mean())
below_mean['bp'].iloc[ :20]

79.70588235294117
10.14486391571554
15.127569099929124

252    60.0
255    60.0
274    60.0
275    60.0
276    60.0
277    70.0
280    70.0
281    70.0
283    70.0
284    70.0
285    70.0
286    70.0
287    70.0
288    70.0
292    60.0
293    70.0
294    70.0
295    60.0
296    60.0
297    60.0
Name: bp, dtype: float64

In [82]:


ckd_dataframe['bp'].fillna(ckd_dataframe['bp'].mean(), inplace=True)
not_ckd_dataframe['bp'].fillna(not_ckd_dataframe['bp'].mean(), inplace=True)

In [83]:
not_ckd_dataframe['bp'].isnull().sum()

0

In [84]:
#remove null from sg
ckd_dataframe['sg'].fillna(ckd_dataframe['sg'].mean(), inplace=True)
not_ckd_dataframe['sg'].fillna(not_ckd_dataframe['sg'].mean(), inplace=True)
#remove null from al
ckd_dataframe['al'].fillna(ckd_dataframe['al'].mean(), inplace=True)
not_ckd_dataframe['al'].fillna(not_ckd_dataframe['al'].mean(), inplace=True)
#remove null from su
ckd_dataframe['su'].fillna(ckd_dataframe['su'].mean(), inplace=True)
not_ckd_dataframe['su'].fillna(not_ckd_dataframe['su'].mean(), inplace=True)

In [85]:
print(ckd.head(5))
print(ckd.columns.tolist()[-16:-7])

   Unnamed: 0  id   age    bp     sg   al   su     rbc        pc         pcc  \
0           0   0  48.0  80.0  1.020  1.0  0.0  normal    normal  notpresent
1           1   1   7.0  50.0  1.020  4.0  0.0  normal    normal  notpresent
2           2   2  62.0  80.0  1.010  2.0  3.0  normal    normal  notpresent
3           3   3  48.0  70.0  1.005  4.0  0.0  normal  abnormal     present
4           4   4  51.0  80.0  1.010  2.0  0.0  normal    normal  notpresent

   ... pcv    wc   rc  htn   dm  cad  appet   pe  ane classification
0  ...  44  7800  5.2  yes  yes   no   good   no   no            ckd
1  ...  38  6000  NaN   no   no   no   good   no   no            ckd
2  ...  31  7500  NaN   no  yes   no   poor   no  yes            ckd
3  ...  32  6700  3.9  yes   no   no   poor  yes  yes            ckd
4  ...  35  7300  4.6   no   no   no   good   no   no            ckd

[5 rows x 27 columns]
['bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc']

In [86]:
columns_to_print = ['bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc']
print(ckd[columns_to_print].head(5))

     bgr    bu   sc    sod  pot  hemo pcv    wc   rc
0  121.0  36.0  1.2    NaN  NaN  15.4  44  7800  5.2
1    NaN  18.0  0.8    NaN  NaN  11.3  38  6000  NaN
2  423.0  53.0  1.8    NaN  NaN   9.6  31  7500  NaN
3  117.0  56.0  3.8  111.0  2.5  11.2  32  6700  3.9
4  106.0  26.0  1.4    NaN  NaN  11.6  35  7300  4.6

In [87]:
print(ckd['pcv'].dtype)

object

['bgr', 'bu', 'sc', 'sod', 'pot', 'hemo'] columns update code starts from here.

In [88]:
columns_to_fill = ['bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc']

for i, column in enumerate(columns_to_fill):
    print(column, ckd[column].dtype)

bgr float64
bu float64
sc float64
sod float64
pot float64
hemo float64
pcv object
wc object
rc object

In [89]:
columns_to_fill = ['bgr', 'bu', 'sc', 'sod', 'pot', 'hemo']

for i, column in enumerate(columns_to_fill):
    column_mean = ckd_dataframe[column].mean()
    ckd_dataframe[column].fillna(column_mean, inplace=True)

In [90]:

type(ckd['pcv'].iloc[1]).__name__

'str'

In [91]:
#starting updating pcv wc rc

In [92]:
columns_to_fill = ['pcv', 'wc', 'rc']

for i, column in enumerate(columns_to_fill):


    ckd_dataframe[column].fillna('0', inplace=True)

In [93]:
ckd_dataframe['pcv'] = ckd_dataframe['pcv'].str.replace('?', '0')
ckd_dataframe['pcv'] = ckd_dataframe['pcv'].str.strip()

<ipython-input-93-206abcf6090c>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ckd_dataframe['pcv'] = ckd_dataframe['pcv'].str.replace('?', '0')

In [94]:
ckd_dataframe['wc'] = ckd_dataframe['wc'].str.replace('?', '0')
ckd_dataframe['wc'] = ckd_dataframe['wc'].str.strip()

<ipython-input-94-2f37b2795e6f>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ckd_dataframe['wc'] = ckd_dataframe['wc'].str.replace('?', '0')

In [95]:
ckd_dataframe['rc'] = ckd_dataframe['rc'].str.replace('?', '0')
ckd_dataframe['rc'] = ckd_dataframe['rc'].str.strip()

<ipython-input-95-1e27a03ec414>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ckd_dataframe['rc'] = ckd_dataframe['rc'].str.replace('?', '0')

In [96]:
ckd_dataframe['pcv'] =ckd_dataframe['pcv'].astype(float)

In [97]:
ckd_dataframe['wc'] =ckd_dataframe['wc'].astype(float)

In [98]:
ckd_dataframe['rc'] =ckd_dataframe['rc'].astype(float)

In [99]:
columns_to_fill = ['pcv', 'wc', 'rc']

for i, column in enumerate(columns_to_fill):


    ckd_mean = ckd_dataframe[column].mean()
    ckd_dataframe.loc[ckd_dataframe[column]==0, column] = ckd_mean

In [100]:
string_columns = ckd.select_dtypes(include=['object']).columns

In [101]:
string_columns

Index(['rbc', 'pc', 'pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane',
       'classification'],
      dtype='object')

In [102]:
ckd.columns.tolist()

['Unnamed: 0',
 'id',
 'age',
 'bp',
 'sg',
 'al',
 'su',
 'rbc',
 'pc',
 'pcc',
 'ba',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'pcv',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [37]:
ckd_dataframe.describe()

,Unnamed: 0,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc
count,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000
mean,123.500000,124.427419,54.425000,79.705882,1.013937,1.721154,0.770732,175.523810,72.656170,4.430720,133.882530,4.883030,10.652217,30.632154,7634.067703,2.983491
std,71.735626,72.079429,17.127132,14.932969,0.004228,1.259501,1.227592,85.065928,57.156729,6.805612,10.185319,3.542576,1.980642,7.299847,3306.096988,1.156298
min,0.000000,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.500000,4.500000,2.500000,3.100000,9.000000,2200.000000,1.994355
25%,61.750000,62.750000,47.750000,70.000000,1.010000,1.000000,0.000000,110.750000,32.000000,1.500000,133.882530,4.100000,9.800000,24.193548,5456.048387,1.994355
50%,123.500000,124.500000,58.500000,80.000000,1.013937,1.721154,0.000000,165.000000,55.000000,2.450000,133.882530,4.883030,10.652217,30.000000,5800.000000,2.100000
75%,185.250000,186.250000,65.000000,90.000000,1.015000,3.000000,0.770732,210.750000,90.000000,4.430720,137.000000,4.883030,11.800000,36.000000,9600.000000,3.900000
max,247.000000,249.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,16.100000,52.000000,26400.000000,8.000000

In [38]:
ckd_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 0 to 247
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      248 non-null    int64
 1   id              248 non-null    int64
 2   age             248 non-null    float64
 3   bp              248 non-null    float64
 4   sg              248 non-null    float64
 5   al              248 non-null    float64
 6   su              248 non-null    float64
 7   rbc             248 non-null    object
 8   pc              193 non-null    object
 9   pcc             248 non-null    object
 10  ba              248 non-null    object
 11  bgr             248 non-null    float64
 12  bu              248 non-null    float64
 13  sc              248 non-null    float64
 14  sod             248 non-null    float64
 15  pot             248 non-null    float64
 16  hemo            248 non-null    float64
 17  pcv             248 non-null    float64
 18  wc              248 non-null    float64
 19  rc              248 non-null    float64
 20  htn             248 non-null    object
 21  dm              248 non-null    object
 22  cad             248 non-null    object
 23  appet           248 non-null    object
 24  pe              248 non-null    object
 25  ane             248 non-null    object
 26  classification  248 non-null    object
dtypes: float64(14), int64(2), object(11)
memory usage: 54.2+ KB

In [103]:
temp = ckd_dataframe.columns.tolist()[-3:-1]
temp.extend(ckd_dataframe.columns.tolist()[-7:-4])

In [104]:
last_few_columns = temp
pc_pcc_ba = ['pc', 'pcc', 'ba']
c = ckd_dataframe.loc[:, pc_pcc_ba] #pc values : abnormaml or normal and pcc ba values : present or notpresent
c = ckd_dataframe.loc[:, last_few_columns] # values : yes or no except appet values : good or poor
c

      pe  ane  htn   dm  cad
0     no   no  yes  yes   no
1     no   no   no   no   no
2     no  yes   no  yes   no
3    yes  yes  yes   no   no
4     no   no   no   no   no
..   ...  ...  ...  ...  ...
243   no   no  yes   no  yes
244   no  yes  yes   no  yes
245  yes  yes   no   no   no
246   no   no  yes  yes  yes
247  yes  yes  yes  yes   no

[248 rows x 5 columns]

In [105]:
for column in last_few_columns:
  print(column, ckd_dataframe[column].isnull().sum())
print('appet', ckd_dataframe['appet'].isnull().sum())
for column in pc_pcc_ba:
  print(column, ckd_dataframe[column].isnull().sum())

pe 0
ane 0
htn 0
dm 0
cad 0
appet 0
pc 55
pcc 0
ba 0

In [106]:
import numpy as np

In [107]:
empty_rows = ckd_dataframe['pc'].isnull()
empty_indices = empty_rows[empty_rows].index

empty_indices

Int64Index([  5,  13,  17,  21,  28,  30,  34,  38,  42,  49,  52,  53,  58,
             77,  80,  81,  84,  85,  97, 103, 105, 106, 108, 116, 120, 121,
            124, 131, 133, 137, 141, 147, 150, 159, 160, 161, 163, 164, 165,
            171, 173, 187, 196, 200, 201, 202, 204, 207, 220, 221, 227, 229,
            234, 236, 243],
           dtype='int64')

In [108]:
num_empty = len(empty_indices)
num_abnormal = int(0.3 * num_empty)
num_normal = int(0.7 * num_empty)
print(num_empty, num_abnormal, num_normal)

55 16 38

In [109]:
abnormal_indices = np.random.choice(empty_indices, size=num_abnormal, replace=False)
print('abnormal indices: ', abnormal_indices)
normal_indices = np.random.choice(empty_indices, size=num_normal, replace=False)
print('normal indices: ', normal_indices)

abnormal indices:  [200 106 187 220 161 131 204 221 163 121 201 159  38 141  30 173]
normal indices:  [124 236 229 227  77 133 187 147  28 160 131  42  97  30 116 120  58 103
 243 150  85  34 196 141 108 204  52  53 201 105   5 164 207 220 106 163
  38  80]

In [110]:
ckd_dataframe.loc[abnormal_indices, 'rbc'] = 'abnormal'
ckd_dataframe.loc[normal_indices, 'rbc'] = 'normal'

In [111]:
print(ckd_dataframe['rbc'].isnull().sum())
ckd_dataframe['rbc'].fillna('normal', inplace=True)
print(ckd_dataframe['rbc'].isnull().sum())

0
0

In [112]:
columns_to_fill = ['bgr', 'bu', 'sc', 'sod', 'pot', 'hemo']

for i, column in enumerate(columns_to_fill):
    column_mean = not_ckd_dataframe[column].mean()
    ckd_dataframe[column].fillna(column_mean, inplace=True)

In [113]:
columns_to_fill = ['pcv', 'wc', 'rc']

for i, column in enumerate(columns_to_fill):


    not_ckd_dataframe[column].fillna('0', inplace=True)

In [114]:
not_ckd_dataframe['pcv'] = not_ckd_dataframe['pcv'].str.replace('?', '0')
not_ckd_dataframe['pcv'] = not_ckd_dataframe['pcv'].str.strip()

<ipython-input-114-0bb0860f363a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  not_ckd_dataframe['pcv'] = not_ckd_dataframe['pcv'].str.replace('?', '0')

In [115]:
not_ckd_dataframe['wc'] = not_ckd_dataframe['wc'].str.replace('?', '0')
not_ckd_dataframe['wc'] = not_ckd_dataframe['wc'].str.strip()

<ipython-input-115-562abd8c27bd>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  not_ckd_dataframe['wc'] = not_ckd_dataframe['wc'].str.replace('?', '0')

In [116]:
not_ckd_dataframe['rc'] = not_ckd_dataframe['rc'].str.replace('?', '0')
not_ckd_dataframe['rc'] = not_ckd_dataframe['rc'].str.strip()

<ipython-input-116-fa397222396a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  not_ckd_dataframe['rc'] = not_ckd_dataframe['rc'].str.replace('?', '0')

In [117]:
not_ckd_dataframe['pcv'] =not_ckd_dataframe['pcv'].astype(float)

In [118]:
not_ckd_dataframe['wc'] =not_ckd_dataframe['wc'].astype(float)

In [119]:
not_ckd_dataframe['rc'] =not_ckd_dataframe['rc'].astype(float)

In [120]:
columns_to_fill = ['pcv', 'wc', 'rc']

for i, column in enumerate(columns_to_fill):


    not_ckd_mean = not_ckd_dataframe[column].mean()
    not_ckd_dataframe.loc[not_ckd_dataframe[column]==0, column] = not_ckd_mean

In [121]:
temp = not_ckd_dataframe.columns.tolist()[-3:-1]
temp.extend(not_ckd_dataframe.columns.tolist()[-7:-4])

In [122]:
last_few_columns = temp
pc_pcc_ba = ['pc', 'pcc', 'ba']
c = not_ckd_dataframe.loc[:, pc_pcc_ba] #pc values : abnormaml or normal and pcc ba values : present or notpresent
c = not_ckd_dataframe.loc[:, last_few_columns] # values : yes or no except appet values : good or poor
c

     pe ane htn  dm cad
248  no  no  no  no  no
249  no  no  no  no  no
250  no  no  no  no  no
251  no  no  no  no  no
252  no  no  no  no  no
..   ..  ..  ..  ..  ..
393  no  no  no  no  no
394  no  no  no  no  no
395  no  no  no  no  no
396  no  no  no  no  no
397  no  no  no  no  no

[150 rows x 5 columns]

In [123]:
for column in last_few_columns:
  print(column, not_ckd_dataframe[column].isnull().sum())
print('appet', not_ckd_dataframe['appet'].isnull().sum())
for column in pc_pcc_ba:
  print(column, not_ckd_dataframe[column].isnull().sum())

pe 1
ane 1
htn 2
dm 2
cad 2
appet 1
pc 9
pcc 4
ba 4

In [124]:
empty_rows = not_ckd_dataframe['pc'].isnull()
empty_indices = empty_rows[empty_rows].index

empty_indices

Int64Index([266, 278, 288, 293, 307, 320, 347, 348, 379], dtype='int64')

In [125]:
num_empty = len(empty_indices)
num_abnormal = int(0.3 * num_empty)
num_normal = int(0.7 * num_empty)
print(num_empty, num_abnormal, num_normal)

9 2 6

In [126]:
abnormal_indices = np.random.choice(empty_indices, size=num_abnormal, replace=False)
print('abnormal indices: ', abnormal_indices)
normal_indices = np.random.choice(empty_indices, size=num_normal, replace=False)
print('normal indices: ', normal_indices)

abnormal indices:  [379 288]
normal indices:  [348 266 278 288 379 320]

In [129]:
not_ckd_dataframe.loc[abnormal_indices, 'pc'] = 'abnormal'
not_ckd_dataframe.loc[normal_indices, 'pc'] = 'normal'

In [ ]:
print(not_ckd_dataframe['pc'].isnull().sum())
not_ckd_dataframe['pc'].fillna('normal', inplace=True)
print(not_ckd_dataframe['pc'].isnull().sum())

In [139]:
t = not_ckd_dataframe['appet'].isnull()
tt = t[t].index
tt

Int64Index([292], dtype='int64')

In [150]:
not_ckd_dataframe.loc[t[t].index, 'appet'] = 'good'

In [151]:
for i in last_few_columns:
  t = not_ckd_dataframe[i].isnull()
  not_ckd_dataframe.loc[t[t].index, i] = 'yes'

In [ ]:
t = not_ckd_dataframe['ba'].isnull()
not_ckd_dataframe.loc[t[t].index, 'ba'] = 'present'
t = not_ckd_dataframe['pcc'].isnull()
not_ckd_dataframe.loc[t[t].index, 'pcc'] = 'present'

In [153]:
# merging ckd and not_ckd new dataframes
merged_df = pd.concat([ckd_dataframe, not_ckd_dataframe], ignore_index=True)
# check for rbc empty cells
merged_df['rbc'].isnull().sum()

0

In [154]:
merged_df.to_csv('preprocessed.csv', index=False)
merged_df.to_csv('preprocessed_with_index.csv', index=True)